<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>758892810718-rihglbek34mi2jghpnrr78ads7k7qbib.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.758892810718-rihglbek34mi2jghpnrr78ads7k7qbib</string>
	<key>API_KEY</key>
	<string>AIzaSyBZqzXLVUNEE-YVYaQGGIhgOji5_2Xy4h8</string>
	<key>GCM_SENDER_ID</key>
	<string>758892810718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.adarshShukla.Visits</string>
	<key>PROJECT_ID</key>
	<string>visits-10807</string>
	<key>STORAGE_BUCKET</key>
	<string>visits-10807.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:758892810718:ios:e7b9a173402ff2eccecd4f</string>
</dict>
</plist>